ziggi:$apr1$5alzFcfC$xoNhYrXAsj9yz0Ov0qbyf.
zair:$apr1$WIB.....$IH72hzpBt8Nda.fHuKI0f/:Anna Zair
zurb:$apr1$og3.....$yOAOBA.0/wCpvub4xr.i8.:Norb Gnurb II
master:ClQrPHqiAkenM:Master Account
admin:G6PcDbrQmrWz6:Norb Gnurb III
